.sidebar-nav__header {
	width: 100%;
}

.sidebar-nav__items {
	margin-bottom: 2em;
}

.sidebar-nav__items-link:hover {
	background: transparent;
	text-decoration: underline;
}

.navbar-toggle__button {
	margin-top: 1.25em;
}

.filters-container {
	margin-bottom: 2em;
}